<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header -->
<div th:insert="layout/header.html" id="header"></div>
<div id="col-md-12">
    <div class="container col-md-8">
        <form>
            <tr scope="row" th:each=" posts : ${posts}">
                <div class="form-group">
                    <label for="id">번호</label>
                    <input type="text" class="form-control" id="id" th:value="${posts.id}" readonly>
                </div>

                <div class="from-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" th:value="${posts.title}" readonly>
                </div>

                <div class="from-group">
                    <label for="content">내용</label>
                    <textarea rows="5" class="form-control" id="content" th:text="${posts.content}" readonly></textarea>
                </div>

                <div class="form-group">
                    <label for="writer">작성자</label>
                    <input type="text" class="form-control" id="writer" th:value="${posts.writer}" readonly>
                </div>
            </tr>
        </form>
        <a th:href="@{/posts/update/{id}(id=${posts.id})}" role="button" class="btn btn-primary">수정</a>
        <button type="button" id="btn-delete" class="btn btn-primary">삭제</button>
        <a th:href="@{/posts/list}" role="button" class="btn btn-primary">취소</a>
    </div>
</div>
<!-- 작성란&버튼 -->
<div class="container col-md-8">
    <form>
        <!-- hidden -->
        <input type="hidden" id="postsId" th:value="${posts.id}">


        <!-- 입력 영역 -->
        <input type="text" id="comment" name="comment" class="form-control" placeholder="댓글을 입력해주세요..">
        <button type="button" id="btn-comment-save" class="btn btn-outline-primary"> 등록</button>
    </form>
    <!-- 댓글뷰-->

    <div id="commentTable">
        <div>
            <span class="fs-3"> 댓글</span>
        </div>
        <div th:each="comments:${comments}">

            <div class="container">
                <div class="row row-cols">
                    <div class="col">
                        <span th:text="${session.user.name}" class="form-control"></span>
                    </div>
                    <div class="col-7">
                        <span th:text="${comments.comment}" class="form-control"></span>
                    </div>
                    <div class="col-3">
                        <span th:text="${comments.createdDate}" class="form-control"></span>
                    </div>

                    <div class="col">
                        <button th:onclick="|main.commentDelete('${posts.id}', '${comments.id}')|" class="btn btn-outline-primary btn-sm" style="margin-left: 10px;">삭제</button>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>

<!-- footer -->
<div th:insert="layout/footer.html" id="footer"></div>
</body>
</html>